<div class="hr-line-dashed"></div>
<table class="table table-bordered" id="table-service-add">
  <thead class="thead-dark">
    <tr>
      <th scope="col">TYPE DESIGNATION</th>
      <th scope="col">DESIGNATION</th>
      <th scope="col">DUREE</th>
      <th scope="col">TYPE DUREE</th>
      <th scope="col">PRIX</th>
      <th scope="col">MONTANT TOTAL</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="principal-service">
    <tr data-id="0">
       <td>
        <div class="form-group">
          <div class="col-sm-10">
            <select class="form-control f_service_libre" name="f_service_libre[]">
              <option value="0">SERVICE</option>
              <option value="1">AUTRE</option>
            </select>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <select class="form-control f_service" name="f_service[]">
              <option></option>
              {% for service in services %}
                <option value="{{service.id}}">{{service.nom}}</option>
              {% endfor %}
            </select>
            <div class="f_service_designation_container hidden">
              <textarea class="f_service_designation" name="f_service_designation[]">
              </textarea>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <input type="number" class="form-control f_service_periode" name="f_service_periode[]" >
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <select class="form-control f_service_duree" name="f_service_duree[]">
              <option></option>
              <option value="1">Heure</option>
              <option value="2">Jour</option>
              <option value="3">Mois</option>
              <option value="4">Année</option>
            </select>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <input type="number" class="form-control f_service_prix" name="f_service_prix[]">
          </div>
        </div>
      </td>
      <td class="td-montant">
        <div class="form-group">
          <div class="col-sm-10">
            <input type="number" class="form-control f_service_montant" name="f_service_montant[]">
          </div>
        </div>
      </td>
      
      <td>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5">Montant</th>
      <th>
        <div class="form-group">
          <div class="col-sm-10">
            <input type="number" class="form-control" name="service_montant" id="service_montant" readonly="" value="0">
          </div>
        </div>
        
      </th>
      <th>
        <span class="btn-remove-row-service" data-id="0"><i class="fa fa-trash"></i></span>&nbsp;
        <span class="btn-add-row-service" data-id="0"><i class="fa fa-plus"></i></span>
      </th>
    </tr>
    <tr>
      <th colspan="4">Remise (en %)</th>
      <th>
        <div class="form-group">
          <div class="col-sm-10">
            <input type="number" class="form-control" id="f_service_remise" name="f_service_remise" value="0">
          </div>
        </div>
      </th>
      <th id="">
        <div class="form-group">
          <div class="col-sm-10">
            <input type="number" class="form-control" name="service_remise" id="service_remise" readonly="" value="0">
          </div>
        </div>
      </th>
      <th>
      </th>
    </tr>
    <tr>
      <th colspan="5">Total</th>
      <th id="">
        <div class="form-group">
          <div class="col-sm-10">
            <input type="number" class="form-control" name="service_total" id="service_total" readonly="" value="0">
          </div>
        </div>
      </th>
      <th>
      </th>
    </tr>
  </tfoot>
</table>
<div class="hr-line-dashed"></div>
<p>Arrêté la présente facture à la somme de <b id="service_somme" style="text-transform: uppercase;"></b> 
<p>