produit_homepage:
    path:     /produit/index
    defaults: { _controller: ProduitBundle:Default:index }

produit_add:
    path:     /produit/add
    defaults: { _controller: ProduitBundle:Default:add }

produit_save:
    path:     /produit/save
    defaults: { _controller: ProduitBundle:Default:save }
    options:
        expose: true
    methods: [POST]

produit_consultation:
    path:     /produit/consultation/{categorie}
    defaults: { _controller: ProduitBundle:Default:consultation, categorie: 0}
    options:
        expose: true
    methods: [GET]

produit_list:
    path:     /produit/list
    defaults: { _controller: ProduitBundle:Default:list }
    options:
        expose: true
    methods: [POST]

produit_show:
    path:     /produit/show/{id}
    defaults: { _controller: ProduitBundle:Default:show }
    options:
        expose: true
    methods: [GET]

produit_approvisionnement_add:
    path:     /produit/approvisionnement/add
    defaults: { _controller: ProduitBundle:Approvisionnement:add }

produit_approvisionnement_save:
    path:     /produit/approvisionnement/save
    defaults: { _controller: ProduitBundle:Approvisionnement:save }
    options:
        expose: true
    methods: [POST]

produit_approvisionnement_consultation:
    path:     /produit/approvisionnement/consultation
    defaults: { _controller: ProduitBundle:Approvisionnement:consultation }

produit_approvisionnement_list:
    path:     /produit/approvisionnement/list
    defaults: { _controller: ProduitBundle:Approvisionnement:list }
    options:
        expose: true
    methods: [POST]
    
produit_pdf: 
    path:     /produit/pdf/{id}
    defaults: { _controller: ProduitBundle:Default:pdf }
    options:
        expose: true
    methods: [GET]

produit_approvisionnement_detail:
    path:     /produit/approvisionnement/detail/{approId}
    defaults: { _controller: ProduitBundle:Approvisionnement:Detail }
    options:
        expose: true
    methods: [GET]
    
produit_entrees_sorties:
    path:     /produit/approvisionnement/entrees_sorties
    defaults: { _controller: ProduitBundle:Approvisionnement:entreesSorties }
    options:
        expose: true
    methods: [POST]

produit_graph:
    path:     /produit/approvisionnement/graph
    defaults: { _controller: ProduitBundle:Approvisionnement:graph }
    options:
        expose: true
    methods: [POST]

produit_notification_list:
    path:     /produit/notification/list
    defaults: { _controller: ProduitBundle:Notification:list }
    options:
        expose: true
    methods: [POST]
    
produit_list_prix_produit:
    path:     /produit/prix_produit
    defaults: { _controller: ProduitBundle:Default:listPrixProduit }
    options:
        expose: true
    methods: [POST] 
    
produit_save_statut_prix_produit:
    path:     /produit/save/statut
    defaults: { _controller: ProduitBundle:Default:saveStatutProduit }
    options:
        expose: true
    methods: [POST]


# CATEGORIE DES PRODUITS
produit_categorie_index:
    path:     /produit/categorie/index
    defaults: { _controller: ProduitBundle:CategorieProduit:index }

produit_categorie_add:
    path:     /produit/categorie/add
    defaults: { _controller: ProduitBundle:CategorieProduit:add }

produit_categorie_save:
    path:     /produit/categorie/save
    defaults: { _controller: ProduitBundle:CategorieProduit:save }
    options:
        expose: true
    methods: [POST]

produit_categorie_consultation:
    path:     /produit/categorie/consultation
    defaults: { _controller: ProduitBundle:CategorieProduit:consultation }

produit_categorie_list:
    path:     /produit/categorie/list
    defaults: { _controller: ProduitBundle:CategorieProduit:list }
    options:
        expose: true
    methods: [POST]

produit_categorie_show:
    path:     /produit/categorie/show/{id}
    defaults: { _controller: ProduitBundle:CategorieProduit:show }
    options:
        expose: true
    methods: [GET]