produit_homepage:
    path:     /produit/index
    defaults: { _controller: ProduitBundle:Default:index }

produit_add:
    path:     /produit/add
    defaults: { _controller: ProduitBundle:Default:add }

produit_save:
    path:     /produit/save
    defaults: { _controller: ProduitBundle:Default:save }
    options:
        expose: true
    methods: [POST]

produit_consultation:
    path:     /produit/consultation
    defaults: { _controller: ProduitBundle:Default:consultation }

produit_list:
    path:     /produit/list
    defaults: { _controller: ProduitBundle:Default:list }
    options:
        expose: true
    methods: [POST]

produit_show:
    path:     /produit/show/{id}
    defaults: { _controller: ProduitBundle:Default:show }
    options:
        expose: true
    methods: [GET]

produit_approvisionnement_add:
    path:     /produit/approvisionnement/add
    defaults: { _controller: ProduitBundle:Approvisionnement:add }

produit_approvisionnement_save:
    path:     /produit/approvisionnement/save
    defaults: { _controller: ProduitBundle:Approvisionnement:save }
    options:
        expose: true
    methods: [POST]

produit_approvisionnement_consultation:
    path:     /produit/approvisionnement/consultation
    defaults: { _controller: ProduitBundle:Approvisionnement:consultation }

produit_approvisionnement_list:
    path:     /produit/approvisionnement/list
    defaults: { _controller: ProduitBundle:Approvisionnement:list }
    options:
        expose: true
    methods: [POST]
    
produit_pdf: 
    path:     /produit/pdf/{id}
    defaults: { _controller: ProduitBundle:Default:pdf }
    options:
        expose: true
    methods: [GET]

<<<<<<< HEAD
produit_approvisionnement_detail:
    path:     /produit/approvisionnement/detail/{approId}
    defaults: { _controller: ProduitBundle:Approvisionnement:Detail }
    options:
        expose: true
    methods: [GET]
=======
produit_entrees_sorties:
    path:     /produit/approvisionnement/entrees_sorties
    defaults: { _controller: ProduitBundle:Approvisionnement:entreesSorties }
    options:
        expose: true
    methods: [POST]

produit_graph:
    path:     /produit/approvisionnement/graph
    defaults: { _controller: ProduitBundle:Approvisionnement:graph }
    options:
        expose: true
    methods: [POST]

produit_notification_list:
    path:     /produit/notification/list
    defaults: { _controller: ProduitBundle:Notification:list }
    options:
        expose: true
    methods: [POST]
>>>>>>> 3f04e8612f2652e77efebd43cc704d80d6f56014
