produit_homepage:
    path:     /produit/index
    defaults: { _controller: ProduitBundle:Default:index }

produit_add:
    path:     /produit/add
    defaults: { _controller: ProduitBundle:Default:add }

produit_save:
    path:     /produit/save
    defaults: { _controller: ProduitBundle:Default:save }
    options:
        expose: true
    methods: [POST]

produit_consultation:
    path:     /produit/consultation
    defaults: { _controller: ProduitBundle:Default:consultation }

produit_list:
    path:     /produit/list
    defaults: { _controller: ProduitBundle:Default:list }
    options:
        expose: true
    methods: [POST]

produit_show:
    path:     /produit/show/{id}
    defaults: { _controller: ProduitBundle:Default:show }
    options:
        expose: true
    methods: [GET]

produit_approvisionnement_add:
    path:     /produit/approvisionnement/add
    defaults: { _controller: ProduitBundle:Approvisionnement:add }