<table style="width: 100%;">
	<tr>
	    <td style="width:20%" class="text-center">
	            <img src="{{ modelePdf.logoGauche | to_src }}" alt="Logo Html2Pdf" style="width: 100px" class="text-center">
	    </td>
	    <td style="width:60%;" class="">
	    	{{ modelePdf.texteHaut | raw }}
	    </td>
	    <td style="width:20%" class="text-center">
	            <img src="{{ modelePdf.logoDroite | to_src }}" alt="Logo Html2Pdf" style="width: 100px" class="text-center">
	    </td>
	</tr>
	<tr>
	</tr>
</table>